@import '../../styles/app';

.middleSection {
  display: flex;
  justify-content: space-evenly;
  background: #1240c2;
  color: #f8f9fa;
  border: none;
}

.middleDiv {
  width: 33%;
  text-align: center;
  max-width: 500px;
}

@media (max-width: 900px) {
  .middleSection {
    flex-direction: column;
  }
  .middleDiv {
    width: 100%;
    max-width: 900px;
  }
  .topLogoSection {
    display: none;
  }
}

footer {
    font-size: 14px;
    position: absolute;
    bottom: 20px;
}

.landingPage {
  height: 80vh;
  img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 80%;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.top-logo-1 {display: flex;}
.left-logo-1 {display: flex;}

@media only screen and (min-width: 812px) {
  [class*="top-logo-"] {
    display: none;
  }
}

@media only screen and (max-width: 811px) {
  [class*="left-logo-"] {
    display: none;
  }
}

.errorContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.errorBtn {
  padding-left: 35px;
  padding-right: 35px;
}

.errorCode {
  margin: 20px;
  font-size: 80px;
  font-weight: $font-weight-normal;
  color: $blue;

  @include media-breakpoint-up(md) {
    font-size: 180px;
  }
}

.errorInfo {
  font-size: 70px;
}

.errorHelp {
  font-size: 20px;
  width: 390px;
}

.pageFooter {
  position: absolute;
  bottom: 300px;
  left: 0;
  right: 0;
  width: 80%;
  font-size: $font-size-mini;
  color: $text-muted;
  text-align: center;
}

.root {
  .dashboardBlock {
    @media (min-width: 1170px) and (max-width: 1280px) {
      display: none;
    }
  }
  .dailyLineChart {
    margin-top: -36px;
    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }
  .pieElements {
    display: flex;
    flex-direction: column;
    align-items: center;
    &Danger {
      border-top: 3px solid theme-color("danger")
    }
    &Warning {
      border-top: 3px solid theme-color("warning")
    }
    &Black {
      border-top: 3px solid #323232
    }
    p {
      color: rgba(#323232, .6);
      white-space: nowrap;
    }
  }
  :global {
    .post-comments footer {
      margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);
      padding: $widget-padding-vertical $widget-padding-horizontal;
    }

    .stat-item .name {
      margin-top: 50px;
    }
  }
  h5 {
    color: rgba(#323232, .6)
  }
  .dashboardImg {
    position: absolute;
    right: 0;
    bottom: -4px;
    width: 40%;
    @include media-breakpoint-down(md) {
      width: 100%;
      position: static;
      margin-bottom: -28px;
    }
  }
  .row {
    align-items: center;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

