@import "../../../styles/app";

td {
  vertical-align: middle !important;
  text-align: center;
}
.table-bordered th {
  background: #1240c2;
  color: $gray-light;
  border: none;
  text-align: center;
  width: 33%;
}

.table-hover th {
  vertical-align: text-top;
  text-align: center;
  }
